<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuite name="File System Transactions">
    <directory suffix=".php">tests</directory>
    <directory suffix=".php">src</directory>
  </testsuite>
  <filter>
    <whitelist>
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
</phpunit>